#modal {
position: relative;
max-height: calc(100vh - 60px);
width: 37.5rem;
overflow: auto;
padding: 2.5rem;
background: white;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
color: #4a5570;
text-rendering: optimizeLegibility;
height: 50%;

}

button {
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5rem 1rem 0;
    font-family: inherit;
    padding: 0.8125rem 1.125rem;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #d11d4e;
    color: white;

}