.buttons {
    padding: 40px;
    display: block;
    text-align: center;

}

.parks {
    padding: 10px 40px;
    margin: 10px;
}

.water {
    padding: 10px 40px;
    margin: 10px;

}

.hiketrail {
    padding: 10px 40px;
    margin: 10px;

}

